body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #202122;
}

header {
    background-color: #2a4b8d;
    color: white;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav {
    margin: 10px 20px;
}

nav a {
    color: #0645ad;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

footer {
    position: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #385ba1;
    color: white;
    text-align: center;
    padding: 1px 2px;

}

/* botão*/

#back-to-top {
    position: fixed;
    bottom: 20px;
    /* Distância da parte inferior da janela */
    right: 20px;
    /* Distância da lateral direita */
    display: none;
    /* Escondido por padrão */
    background-color: #2a4b8d;
    color: white;
    border: none;
    border-radius: 50%;
    /* Tornar o botão redondo */
    width: 50px;
    /* Largura do botão */
    height: 50px;
    /* Altura do botão */
    padding: 0;
    /* Remover padding para garantir a forma redonda */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: center;
    /* Centraliza o texto dentro do botão */
    align-items: center;
    /* Centraliza o texto dentro do botão */
}


#back-to-top:hover {
    background-color: #1d3466;
    /* Cor mais escura ao passar o mouse */
}



/* Sobre */


.txtprin {
    margin: 20px;
    line-height: 1.8;
}

.txtprin h2 {
    font-size: 1.8em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.list {
    font-weight: bold;
}


/* Home */

.historia-c {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.historia-c h2 {
    font-size: 1.8em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.historia-c h3 {
    font-size: 1.5em;
    color: #2a4b8d;
    margin-top: 20px;
}

.historia-c p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #202122;
    margin-bottom: 15px;
}

.historia-c ul {
    list-style-type: none;
    padding-left: 0;
}

.historia-c ul li {
    font-size: 1.1em;
    color: #202122;
    margin-bottom: 10px;
}

.historia-c strong {
    color: #2a4b8d;
}

.historia-c em {
    font-style: italic;
    color: #555;
}


/* autores */

.autores {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.autores h3 {
    font-size: 1.5em;
    color: #2a4b8d;
    margin-top: 20px;
}

.autor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.autor-img-container {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autor-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.autor-info {
    flex: 1;
}

.autor-info h4 {
    margin: 0 0 10px;
}

.autor-info p {
    margin: 5px 0;
}


/* importancia */




.importancia-c {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.importancia-c h2 {
    font-size: 1.8em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.importancia-c h3 {
    font-size: 1.5em;
    color: #2a4b8d;
    margin-top: 20px;
}

.importancia-c p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #202122;
    margin-bottom: 15px;
}

.importancia-c ul {
    list-style-type: none;
    padding-left: 0;
}

.importancia-c ul li {
    font-size: 1.1em;
    color: #202122;
    margin-bottom: 10px;
}

.importancia-c strong {
    color: #2a4b8d;
}

.importancia-c em {
    font-style: italic;
    color: #555;
}



/* oquee */



.o-que-e-c {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.o-que-e-c h2 {
    font-size: 1.8em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.o-que-e-c h3 {
    font-size: 1.5em;
    color: #2a4b8d;
    margin-top: 20px;
}

.o-que-e-c p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #202122;
    margin-bottom: 15px;
}

.o-que-e-c a.link-c {
    color: #2a4b8d;
    text-decoration: none;
    font-weight: bold;
}

.o-que-e-c a.link-c:hover {
    text-decoration: underline;
}

.o-que-e-c em {
    font-style: italic;
    color: #555;
}




/* Variaveis */

.variaveis-c {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.variaveis-c h2 {
    font-size: 1.8em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.variaveis-c h3 {
    font-size: 1.5em;
    color: #2a4b8d;
    margin-top: 20px;
}

.variaveis-c p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #202122;
    margin-bottom: 15px;
}

.variaveis-c pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Courier New", monospace;
}

.variaveis-c a.link-c {
    color: #2a4b8d;
    text-decoration: none;
    font-weight: bold;
}

.variaveis-c a.link-c:hover {
    text-decoration: underline;
}

.variaveis-c em {
    font-style: italic;
    color: #555;
}



/*operadores*/

.operadores-c {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.operadores-c h2 {
    font-size: 1.8em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.operadores-c h3 {
    font-size: 1.5em;
    color: #2a4b8d;
    margin-top: 20px;
}

.operadores-c h4 {
    font-size: 1.3em;
    color: #2a4b8d;
    margin-top: 15px;
}

.operadores-c p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #202122;
    margin-bottom: 15px;
}

.operadores-c ul {
    list-style-type: none;
    padding-left: 0;
}

.operadores-c ul li {
    font-size: 1.1em;
    color: #202122;
    margin-bottom: 10px;
}

.operadores-c pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Courier New", monospace;
}

.operadores-c a.link-c {
    color: #2a4b8d;
    text-decoration: none;
    font-weight: bold;
}

.operadores-c a.link-c:hover {
    text-decoration: underline;
}

.operadores-c em {
    font-style: italic;
    color: #555;
}


/*Estruturas*/


.estruturas-c {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.estruturas-c h2 {
    font-size: 1.8em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.estruturas-c h3 {
    font-size: 1.5em;
    color: #2a4b8d;
    margin-top: 20px;
}

.estruturas-c h4 {
    font-size: 1.3em;
    color: #2a4b8d;
    margin-top: 15px;
}

.estruturas-c p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #202122;
    margin-bottom: 15px;
}

.estruturas-c ul {
    list-style-type: none;
    padding-left: 0;
}

.estruturas-c ul li {
    font-size: 1.1em;
    color: #202122;
    margin-bottom: 10px;
}

.estruturas-c pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Courier New", monospace;
}

.estruturas-c a.link-c {
    color: #2a4b8d;
    text-decoration: none;
    font-weight: bold;
}

.estruturas-c a.link-c:hover {
    text-decoration: underline;
}

.estruturas-c em {
    font-style: italic;
    color: #555;
}


/*logica*/
.logica-c {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logica-c h2 {
    font-size: 1.8em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.logica-c h3 {
    font-size: 1.5em;
    color: #2a4b8d;
    margin-top: 20px;
}

.logica-c h4 {
    font-size: 1.3em;
    color: #2a4b8d;
    margin-top: 15px;
}

.logica-c p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #202122;
    margin-bottom: 15px;
}

.logica-c ul {
    list-style-type: none;
    padding-left: 0;
}

.logica-c ul li {
    font-size: 1.1em;
    color: #202122;
    margin-bottom: 10px;
}

.logica-c pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Courier New", monospace;
}

.logica-c a.link-c {
    color: #2a4b8d;
    text-decoration: none;
    font-weight: bold;
}

.logica-c a.link-c:hover {
    text-decoration: underline;
}

.logica-c em {
    font-style: italic;
    color: #555;
}


/*quiz*/

.video-c {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-c h2 {
    font-size: 1.8em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.video-c p {
    font-size: 1.1em;
    color: #202122;
    margin-bottom: 15px;
}

.video-c video {
    width: 100%;
    border-radius: 5px;
}

.quiz-c {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quiz-c h2 {
    font-size: 1.8em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.quiz-c h3 {
    font-size: 1.5em;
    color: #202122;
    margin-bottom: 10px;
}

.quiz-c p {
    font-size: 1.1em;
    color: #202122;
    margin-bottom: 15px;
}

.quiz-question h3 {
    font-size: 1.2em;
    color: #2a4b8d;
    margin-bottom: 10px;
}

.quiz-question label {
    font-size: 1.1em;
    color: #202122;
    font-style: italic;
}

.quiz-question a {
    display: block;
    font-size: 1;
    color: #8d2a2a;
    font-style: italic;
    font-weight: bold;
}

.quiz-question a:hover {
    color: #0a4fd8;
    transition: 0.3s;
}

.quiz-question code {
    font-size: 0.8em;
    display: none;
    background-color: #f4f4f4;
}

.quiz-question .answer-button {
    margin-top: 0.5625em;
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    /* padding: 0.9em 0.7em; */
    /* background-color: #8d2a2a; */
    /* border-radius: 2em;  */
    color: #8d2a2a;
    cursor: pointer;
    text-align: left;    
}

.quiz-question .answer-button:hover {
    /* background-color: #c93939; */
    color:#c93939;
    transition: 0.3s    ;
}


button {
    background-color: #2a4b8d;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #1e3666;
}

.quiz-result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #2a4b8d;
}
